<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head>
    <title>Bullhorn Index</title>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #eeeeee;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>

</head>
<body>
<div class="container">
<div class="jumbotron">

<h2>Bullhorn</h2>
<a href="/login">Login</a> -
<a href="/logout">Logout</a> -
<a href="/register">Register</a> -
<a href="/messagelist">My Messages</a>
<br/>
<br/>

<div sec:authorize="isAuthenticated()">

    Bullhorn content is only shown to authenticated users.<br/>

    <div sec:authorize="hasAuthority('ROLE_ADMIN')">
        This content is only shown to administrators.
    </div>

    <div sec:authorize="hasAuthority('ROLE_USER')">
        This content is only shown to users.

    </div>

    <br/>

    Bullhorn welcomes Logged User: <span sec:authentication="name">The value of the "name" property of the authentication
        object should appear here.</span>
    <br/>

    Role: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span><br/><br/>

</div>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/
jquery.min.js"></script>


</body>
</html>
