<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org">
<head>
    <title>Bullhorn Form</title>


    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #eeeeee;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #ffffff;
        }
    </style>

</head>
<body>
<div class="container">
    <div class="jumbotron">


<h2>Bullhorn</h2>

<a href="/messagelist">See all My Messages</a>
<a href="/logout">Logout</a>
<br/>
<br/>

<form action="#" th:action="@{/process}" th:object="${message}" method="post">
    <input type="hidden" th:field="*{id}" />

    Message :<textarea rows="3" th:field="*{content}" />
    <span th:if="${#fields.hasErrors('content')}"
          th:errors="*{content}"></span><br />

    Date Posted :<input type="date" th:field="*{postdate}" />
    <span th:if="${#fields.hasErrors('postdate')}"
          th:errors="*{postdate}"></span><br />

    Sent By :<input type="text" th:field="*{username}" />
    <span th:if="${#fields.hasErrors('username')}"
          th:errors="*{username}"></span><br />

    <br />

    <input type="submit" value="Submit" />
</form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/
jquery.min.js"></script>

</body>


</html>